<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
    aria-controls="navbarContent" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a href="{% url 'about' %}" class="nav-link">О нас</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'contacts' %}" class="nav-link">Контакты</a>
        </li>
    </ul>
    <div class="container">
        <div class="row">
            {% if request.user.is_authenticated %}
                <div class="col-1"></div>
            {% else %}
                <div class="col-2"></div>
            {% endif %}

            {% if request.user.is_authenticated %}
                <div class="col-8">
                    <input class="form-control" type="search" placeholder="Введите город" aria-label="Поиск">
                </div>
            {% else %}
                <div class="col-7">
                    <input class="form-control" type="search" placeholder="Введите город" aria-label="Поиск">
                </div>
            {% endif %}

            <div class="col">

            </div>
        </div>
    </div>
    {% include 'includes\auth.html' %}
</div>